<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <script type="text/javascript" src="assets/js/js_code.js"></script>
    <title>Projeto Salus</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="assets/image/logo.png"/></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menumobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                       <li class="active"><a href="">PÁGINA INICIAL</a></li>
                       <li><a href="">INFORMAÇÕES</a></li> 
                       <li><a href="">TESTES</a></li>
                       <li><a href="">COMUNIDADE</a></li>
                       <li><a href="">SOBRE NÓS</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>
    <section id="banner">
        <div class="container column">
            <div class="banner_headline">
                <h1>Projeto Salus</h1>
                <h2>Encontre a unidade mais próxima para realizar seu atendimento</h2>
            </div>
            <div class="banner_option">
                <div class="banner1">
                    <div class="baneer_title">Precisa de Ajuda?</div>
                    <div class="banner_desc">Texto texto mais texto</div>
                    <a href="">Clique Aqui</a>  
                </div>
                <div class="banner2">
                    <div class="baneer_title">Faça sua Doaçao</div>
                    <div class="banner_desc">Texto texto mais texto</div>
                    <a href="">Clique Aqui</a> 
                </div>
                <div class="banner3">
                    <div class="banner_title">Unidades gratuitas para teste HIV</div>
                    <div class="dia1">
                        <div>
                            UBS Reunidas
                        </div>
                        <div>
                            8:00 - 17:00
                        </div>
                    </div>
                    <div class="dia2">
                        <div>
                           UBS Jardim das Laranjeiras
                        </div>
                        <div>
                            9:00 - 17:00
                        </div>
                    </div>
                    <div class="dia3">
                        <div>
                            UBS Parque Arthur Alvim
                        </div>
                        <div>
                            8:00 - 15:00
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>
    <section id="geral">
        <div class="container">
            <section>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Notícias Recentes</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body flex">
                        <article>
                        <a href=""> 
                            <div class="news_data">
                                 <div class="news_posted_at">02 junho</div>
                                 <div class="news_comments">22</div> 
                            </div>
                            <div class="news_thumbnail">
                                <img src="assets/image/dr.jpg"/>
                            </div>
                            <div class="news_title">
                                Lorem imput sit amat velum
                            </div>
                            <div class="news_resume">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore fugiat repellat 
                                voluptatibus iusto. Quia harum soluta ratione. Debitis eum commodi veritatis sit
                                veniam soluta illo quibusdam provident voluptas, enim id! A campanha é organizada
                                por médicos britânicos, que buscam arrecadar dinheiro para importar equipamento 
                                 de proteção que está em falta no país.
                            </div>
                        </a> 
                        </article>
                        <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">28 março</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="assets/image/vacine.jpg"/>
                               </div>
                               <div class="news_title">
                                   Lorem imput sit amat velum
                               </div>
                               <div class="news_resume">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore fugiat repellat 
                                    voluptatibus iusto. Quia harum soluta ratione. Debitis eum commodi veritatis sit
                                    veniam soluta illo quibusdam provident voluptas, enim id! A campanha é organizada
                                    por médicos britânicos, que buscam arrecadar dinheiro para importar equipamento 
                                    de proteção que está em falta no país
                               </div>
                            </a>  
                           </article>
                           <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">05 Fevereiro</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="assets/image/trasnfusion.jpg"/>
                               </div>
                               <div class="news_title">
                                   Lorem imput sit amat velum
                               </div>
                               <div class="news_resume">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore fugiat repellat 
                                    voluptatibus iusto. Quia harum soluta ratione. Debitis eum commodi veritatis sit
                                    veniam soluta illo quibusdam provident voluptas, enim id! A campanha é organizada
                                    por médicos britânicos, que buscam arrecadar dinheiro para importar equipamento 
                                    de proteção que está em falta no país
                               </div>
                            </a>  
                           </article>
                           <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">07 janeiro</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="assets/image/friends.jpg"/>
                               </div>
                               <div class="news_title">
                                   Lorem imput sit amat velum
                               </div>
                               <div class="news_resume">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore fugiat repellat 
                                    voluptatibus iusto. Quia harum soluta ratione. Debitis eum commodi veritatis sit
                                    veniam soluta illo quibusdam provident voluptas, enim id! A campanha é organizada
                                    por médicos britânicos, que buscam arrecadar dinheiro para importar equipamento 
                                    de proteção que está em falta no país
                               </div>
                            </a>  
                           </article>
                    </div>
                </div>
            </section>
            <aside>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Lorem</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        
                    </div>
                </div>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Lorem</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        ...
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer> 
        <div class="container flexcolumn" >
            <div class="footer_menu">
                <div class="fm_1">
                    ...
                </div>
                <div class="fm_2">
                    ...
                </div>
                <div class="fm_3">
                    ...
                </div>
            </div>
            <div class="footer_area">
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">texto</div>
                            <div class="widget_title_bar"></div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">texto</div>
                            <div class="widget_title_bar"></div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">texto</div>
                            <div class="widget_title_bar"></div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                Copyright - todosos direitos reservados
            </div>
        </div>
    </footer>
</body>
</html>